# Specific files
compile
configure
depcomp
install-sh
missing
aclocal.m4
Makefile
Makefile.in
lib/Makefile
lib/Makefile.in
lib/libnfc.la
lib/neard-adapter-proxy.h
lib/neard-manager-proxy.h
lib/neard-record-proxy.h
lib/neard-target-proxy.h
libnfc.pc
libtool
ltmain.sh
ncl/.deps/
ncl/.libs/
ncl/Makefile
ncl/Makefile.in
ncl/ncl
stamp-h1

# Use wildcards as well
*~
config.*
*.lo
*.o

# Specific directories and files in a directory.
autom4te.cache/*
lib/.*

