# Specific files
compile
configure
depcomp
install-sh
missing
aclocal.m4
Makefile
Makefile.in
lib/Makefile
lib/Makefile.in
lib/libneardal.la
neardal.pc
libtool
ltmain.sh
ncl/.deps/
ncl/.libs/
ncl/Makefile
ncl/Makefile.in
ncl/ncl
stamp-h1
doxygen.cfg

# Use wildcards as well
*~
config.*
*.lo
*.o
*kdev4*
lib/neardal_agent.*
lib/neard_*

# Specific directories and files in a directory.
autom4te.cache/*
lib/.*

