# Specific files
compile
configure
depcomp
install-sh
missing
aclocal.m4
Makefile
Makefile.in
lib/Makefile
lib/Makefile.in
lib/libneardal.la
lib/neard_adapter_proxy.c
lib/neard_adapter_proxy.h
lib/neard_manager_proxy.c
lib/neard_manager_proxy.h
lib/neard_record_proxy.c
lib/neard_record_proxy.h
lib/neard_tag_proxy.c
lib/neard_tag_proxy.h
neardal.pc
libtool
ltmain.sh
ncl/.deps/
ncl/.libs/
ncl/Makefile
ncl/Makefile.in
ncl/ncl
stamp-h1
doxygen.cfg

# Use wildcards as well
*~
config.*
*.lo
*.o
*kdev4*

# Specific directories and files in a directory.
autom4te.cache/*
lib/.*

